@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Making a test web application which keeps account of restaurants in belfast</p>
</div>